<html>
    <head>
       
    </head>
<body>
    <form method="post">
        <div class="form">
    <h1>Bank Account Details</h1>
    <label class="form__label">Account Name</label>
    <input required class="form__input" type = "text" name = "Account_Name" />
    
    <label class="form__label">Balance</label>
    <input required class="form__input" type = "number" name = "Initial_Balance" />
    <input class="form__button" type = "submit" value = "submit"/>
    </div>
</form>

@ViewData["Message"]
</body>
</html>

